x64/
x86/
Debug/
Release/
[Dd]ebug/
[Rr]elease/
*.exe
*.pdb
*.ilk
*.obj
*.o
.vs/
*.user
*.suo
*.ncb
*.sdf
*.opensdf
*.db
*.opendb
*.log
*.tlog
*.lastbuildstate
*.recipe
*.idb
.vs/


Debug/
Release/
x64/
x86/
bin/
obj/


*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.suo
*.db
*.opendb
*.sdf

